<div class="booking">

  <p class="title">Reservar vuelo</p>

  <form [formGroup]="viewModel.form">
    <div class="input-container one">
      <input
        type="checkbox"
        class="check-input"
        id="oneWay"
        [formControl]="viewModel.oneWay"
      />
      <label for="oneWay">Solo ida</label>
    </div>

    <div class="input-container two">
      <input
        [errorMessage]="{
          control: viewModel.origin,
          errorMessages: {
            required: 'Campo obligatorio',
            maxlength: 'Máximo 3 carácteres',
            minlength: 'Mínimo 3 carácteres'
          }
        }"
        uppercase
        type="text"
        class="text-input"
        id="origin"
        placeholder=" "
        [formControl]="viewModel.origin"
      />
      <label class="text-label" for="origin">Origen</label>
    </div>

    <div class="input-container three">
      <input
        [errorMessage]="{
          control: viewModel.destination,
          errorMessages: {
            required: 'Campo obligatorio',
            maxlength: 'Máximo 3 carácteres',
            minlength: 'Mínimo 3 carácteres'
          }
        }"
        uppercase
        type="text"
        class="text-input"
        id="destination"
        placeholder=" "
        [formControl]="viewModel.destination"
      />
      <label class="text-label" for="destination">Destino</label>
    </div>

    <div class="button-container four">
      <button
        type="button"
        class="button"
        [ngClass]="{ 'button--loading': isLoading }"
        (click)="searchFlight()"
      >
        <span *ngIf="!isLoading" class="button__text">Buscar</span>
      </button>
    </div>
  </form>

  <p
    class="text-danger general-error"
    *ngIf="viewModel.form.hasError('equalTo')"
  >
    El origen y el destino no pueden ser iguales
  </p>

  <p
    class="text-danger general-error"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </p>
</div>

<app-journey
  *ngIf="firstJourney"
  [journey]="firstJourney"
  title="Ida"
></app-journey>

<app-journey
  *ngIf="secondJourney"
  [journey]="secondJourney"
  title="Regreso"
></app-journey>
