.booking {
  margin-top: 3rem;
  background-color: rgba(255, 255, 255, 0.678);
  width: calc(70% - 4rem);
  margin-left: 15%;
  padding: 1rem 2rem 3rem;
  border-radius: 4px;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 30px;
}

.one {
  grid-column: 2;
  grid-row: 1;
}

.two {
  grid-column: 2;
  grid-row: 2;
}

.three {
  grid-column: 3;
  grid-row: 2;
}

.four {
  grid-column: 4;
  grid-row: 2;

}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.text-label {
  color: #151e3bd3;
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 11px;
  padding: 0 5px;
  background: transparent;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.text-input {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background: #fff;
    color: #323840;
    border: 1px solid #3D85D8;
    border-radius: 4px;
    box-sizing: border-box;
  &:focus{
    outline: none;
    ~ .text-label {
      top: -20px;
      left: -5px;
      font-size: 13px;
    }
  }
}

.text-input:not(:placeholder-shown) ~ .text-label {
  top: -20px;
  left: -5px;
  font-size: 13px;
}

.button-container {
  .button {
    height: 40px;
    background-color: #151e3bee;
    color: white;
    width: 120px;
    border-radius: 4px;
    margin-left: 2rem;
    margin-bottom: 10px;
    position: relative;
    outline: none;
    cursor: pointer;

    &__text {
      color: white;
      transition: all 0.2s;
    }
  }

  .button:disabled {
    opacity: 0.7;
    cursor: default;
  }

  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: white;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }

  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }

    to {
      transform: rotate(1turn);
    }
  }
}

.text-danger {
  font-size: 12px;
  color: #d14949;
}

.general-error {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    grid-auto-rows: 20px;
  }

  .one {
    grid-column: 1;
    grid-row: 1;
  }

  .two {
    grid-column: 1;
    grid-row: 2;
  }

  .three {
    grid-column: 2;
    grid-row: 2;
  }

  .four {
    grid-column: 3;
    grid-row: 2;
  }

}

@media only screen and (max-width: 768px) {
  .booking {
    width: calc(80% - 40px);
    margin-left: 10%;
    padding: 20px;
  }

  .title {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    padding: 20px 0;
  }

  .input-container {
    margin-bottom: 35px;
  }

  .button-container {
    .button {
      width: 100%;
      margin-left: 0;
    }
  }
}
