header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  -webkit-box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.38);
  box-shadow: 0px 8px 6px 0px rgba(0,0,0,0.38);
}

.dropbtn {
  display: flex;
  padding: 16px;
  font-size: 16px;
  border: none;
  padding-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown:active .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}

@media only screen and (max-width: 768px) {
  header {
    padding: 0 2rem;
  }
}
