.journey {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: rgba(255, 255, 255, 0.678);
  width: calc(70% - 4rem);
  margin-left: 15%;
  padding: 1rem 2rem 2rem;
  border-radius: 4px;

  .title {
    text-align: center;
    margin-bottom: 0.8rem;
    font-size: 20px;
  }

  &__header {
    &__info {
      display: flex;
      gap: 10px;
      margin-bottom: 1rem;

      span {
        font-size: 20px;
      }
    }

    .journey__text {
      font-size: 1em;
      margin-top: -20px;
      color: initial;

      span {
        font-size: 1.2em;
        color: #151e3bee;
        font-weight: bold;
      }
    }
  }

  &__flights {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
  }

  &__route {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px 20px;
    border-radius: 4px;
    gap: 25px;

    -webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.2);
  }

  &__text {
    font-size: 0.75em;
    color: #969696;

    span {
      font-size: 1.5em;
      color: initial;
    }
  }

  &__origin {
    text-align: left;
    display: flex;
    align-items: center;
  }

  &__info {
    text-align: center;
  }

  &__destination {
    text-align: right;
    display: flex;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .journey {
    width: calc(80% - 40px);
    margin-left: 10%;
    padding: 20px;

    &__flights {
      flex-direction: column;
    }
  }
}
