<div class="journey">

  <p class="title">{{ title }}</p>

  <div class="journey__header">
    <div class="journey__header__info">
      <span>{{ journey.origin }}</span>
      <span>
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9.00967 5.12761H11.0097C12.1142 5.12761 13.468 5.89682 14.0335 6.8457L16.5089 11H21.0097C21.562 11 22.0097 11.4477 22.0097 12C22.0097 12.5523 21.562 13 21.0097 13H16.4138L13.9383 17.1543C13.3729 18.1032 12.0191 18.8724 10.9145 18.8724H8.91454L12.4138 13H5.42485L3.99036 15.4529H1.99036L4.00967 12L4.00967 11.967L2.00967 8.54712H4.00967L5.44417 11H12.5089L9.00967 5.12761Z"
            fill="currentColor"
          />
        </svg>
      </span>
      <span>{{ journey.destination }}</span>
    </div>

    <p class="journey__text">
      Precio:
      <span>{{ currency }} {{ journey.price | currencyExchange: currency | number }}</span>
    </p>
  </div>

  <div class="journey__flights">
    <div class="journey__route" *ngFor="let flight of journey.flights">
      <div class="journey__origin">
        <p class="journey__text">
          Salida:
          <br />
          <span>{{ flight.origin }}</span>
        </p>
      </div>
      <div class="journey__info">
        <p class="journey__text">
          Operado por:
          <br />
          <span>{{ flight.transport.flightCarrier }}</span>
        </p>

        <p class="journey__text">
          Número de vuelo:
          <br />
          <span>{{ flight.transport.flightNumber }}</span>
        </p>
      </div>
      <div class="journey__destination">
        <p class="journey__text">
          Llegada:
          <br />
          <span>{{ flight.destination }}</span>
        </p>
      </div>

    </div>
  </div>
</div>
